//Fuentes del proyecto
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,700;1,700&display=swap');

*{
    font-family: "League Spartan", sans-serif;
    margin: 0;
}

//variables
:root{
    --ColorPrincipal: rgb(72,143,253);
    --ColorSecundario: rgb(51, 86, 143);
    --ColorTexto1: rgb(255, 255, 255);
    --BrilloIcono: rgb(255, 255, 255);
    --SizeFuente1: 1.5rem;
    --Interlineado: 1.1rem;
    --ColorSombraTexto: rgb(225, 220, 220);
    --ColorIconos: rgb(225, 220, 220);
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.sinSubrayado{
    text-decoration: none;
}

//Estilos de la barra de navegacion
.navBar{
    padding: 5px;
    background: url(./recursos/estrellas.png) no-repeat;
    background-size: cover;
    background-position: center;
    //background-color: var(--ColorPrincipal);
    //position: fixed;
    //z-index: 1000;
    width: 99.2%;
    //mitad izq
    .p1{
        width: 50%;
        .logo{
            width: 8%;
            filter: invert(100%); //volver el logo blanco
        }
    
        h4{
            font-size: var(--SizeFuente1);
            margin-top: 5px;
            color: var(--ColorTexto1);
        }
    }

    //mitad derecha
    .p2{
        width: 50%;
        justify-content: flex-end;
        gap: 15px;

        .texto{
            color: var(--ColorTexto1);
            font-size: var(--SizeFuente1);
            margin-top: 5px;
            margin-right: 15px;
            &:hover{
                cursor: pointer;
                //font-weight: 500;
                text-shadow: 0px 1px 3px var(--ColorSombraTexto);

            }
        }

        button{
            background-color: transparent;
            outline: none;
            border: none;
        }

        .icono{
            color: var(--ColorIconos);
            padding: 0 10px;
            font-size: 2.2rem;
            margin-right: 5px;
            &:hover{
                cursor: pointer;
                color: var(--BrilloIcono);
            }
        }

        .usuario{
            display: inline-block;
            margin-right: 50px;
            font-weight: 300px;
            font-size: var(--SizeFuente1);
            margin-top: 5px;
            color: var(--ColorTexto1);
            
        }

    }

    //efecto de sombra
    // &::after {
    //     content: ''; /* Crea un pseudo-elemento */
    //     z-index: -10;
    //     position: absolute; /* Coloca el pseudo-elemento en relaci贸n con el contenedor */
    //     bottom: 5px; /* Posici贸n del pseudo-elemento debajo del contenedor */
    //     left: -10px; /* Alinear con el borde izquierdo del contenedor */
    //     width: 150%; 
    //     height: 20px; /* Altura igual al margen que quieres sombrear */
    //     box-shadow: 0 13px 15px rgb(0, 0, 0); /* Sombra en el margen inferior */
    // }

}

//Estilo del login
.logins{

    //Estilos de la pantalla principal
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./recursos/cielo.png) no-repeat;
    background-size: cover;
    background-position: center;

    //estilos del que contendra el formulario
    .wrapper{
        position: relative;
        width: 420px;
        height: 450px;
        background: transparent;
        border: 2px solid rgba(255,255,255, .1);
        backdrop-filter: blur(70px);
        border-radius: 35px;
        color: white;

        //Estilos Formulario
        .form-box{

            width: 81%;
            padding: 40px;

            form{

                h1{
                    font-size: 36px;
                    text-align: center;
                }

                .input-box{
                    position: relative;
                    width: 100%;
                    height: 50px;
                    margin: 30px 0;
    
                    input{
                        width: 85%;
                        height: 100%;
                        background: transparent;
                        border: none;
                        outline: none;
                        border: 2px solid rgba(255,255,255, .1);
                        border-radius: 40px;
                        font-size: 16px;
                        color: white;
                        padding: 0 20px;

                        &::placeholder{
                            color: white;
                        }
                    }
                }

                .forgot{
                    display: flex;
                    justify-content: center;
                    font-size: 14.5px;
                    margin-bottom: 40px;

                    a {
                        color: white;
                        text-decoration: none;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }

                button{
                    width: 100%;
                    height: 45px;
                    background: white;
                    border: none;
                    outline: none;
                    border-radius: 40px;
                    box-shadow: 0 0 10px rgba(0,0,0,.1);
                    cursor: pointer;
                    font-size: 16px;
                    color: #333;
                    font-weight: 600;
                }
            }

            .icon{
                position: absolute;
                right: 27px;
                top: 50%;
                translate: 0 -50%;
                font-size: 16px;
            }

            .register-link{
                
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14.5px;
                text-align: center;
                font-weight: 600;
                padding-top: 20px;
                p{
                    color: white;
                    font-weight: 300;
                }

                button{
                    background-color: transparent;
                    outline: none;
                    border: none;
                    color: white;
                    font-weight: 600;
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}


//Estilo de registros
.registros{

    //Pantall principal
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./recursos/cielo.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    //Estilos del que contendra el formulario
    .principal-r{
        display: flex;
        flex-direction: column;
        background: transparent;
        border: 2px solid rgba(255,255,255, .1);
        backdrop-filter: blur(100px);
        border-radius: 35px;
        align-items: center;
        justify-content: center;

        h1{
            margin-top: 30px;
            font-size: 36px;
            text-align: center;
            color: white;
            
        }

        button{
            width: 50%;
            height: 45px;
            background: white;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            cursor: pointer;
            font-size: 16px;
            color: #333;
            font-weight: 600;
            
        }

        .register-link-r{
            font-size: 14.5px;
            text-align: center;
            font-weight: 600;
            padding: 20px;

            p{
                color: white;
                font-weight: 300;
                white-space: nowrap;//Para que ocupe toda la linea
            }

            button{
                background-color: transparent;
                outline: none;
                border: none;
                color: white;
                font-weight: 600;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .btn-registro{
            justify-content: center;
            align-items: center;
        }
    }

    //Estilos de las 2 columnas del formulario
    .wrapper-r{
        position: relative;
        width: 840px;
        height: 380px;
        color: white;
        display: flex;
    
        .form-box-r{
            width: 81%;
            padding: 5px 40px;

            .form{

                .input-box-r{
                    position: relative;
                    width: 100%;
                    height: 50px;
                    margin: 30px 0;
    
                    input{
                        width: 87%;
                        height: 100%;
                        background: transparent;
                        border: none;
                        outline: none;
                        border: 2px solid rgba(255,255,255, .1);
                        border-radius: 40px;
                        font-size: 16px;
                        color: white;
                        padding: 0 20px;

                        &::placeholder{
                            color: white;
                        }
                    }
                }

                .input-box-fecha-r{
                    display: flex;
                    flex-direction: rows;
                    position: relative;
                    width: 100%;
                    height: 50px;
                    margin: 30px 0;
    
                    input{
                        width: 50%;
                        height: 100%;
                        background: transparent;
                        border: none;
                        outline: none;
                        border: 2px solid rgba(255,255,255, .1);
                        border-radius: 40px;
                        font-size: 16px;
                        color: white;
                        padding: 0 15px 0 20px;

                        &::placeholder{
                            color: white;
                        }
                    }

                    p{
                        padding: 15px 10px;                  
                    }
                }
            }

            .icon-r{
                position: absolute;
                right: 20px;
                top: 50%;
                translate: 0 -50%;
                font-size: 16px;
            }

            /* Estilos para el icono del calendario en navegadores WebKit (Chrome y Safari) */
            input[type="date"]::-webkit-calendar-picker-indicator {
                filter: invert(1); /* Invertir el color del icono a blanco */
            }
            
            /* Estilos para el bot贸n de aumento/descenso en navegadores WebKit (Chrome y Safari) */
            input[type="date"]::-webkit-inner-spin-button {
                filter: invert(1); /* Invertir el color del bot贸n a blanco */
            }

            
        }
    }



}

.piePag{

    background: url(./recursos/estrellas.png) no-repeat;
    background-size: cover;
    background-position: center;
    
    .contenedorPiePag{
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Divide el contenedor en 4 columnas de igual ancho */
        gap: 10px;
        padding: 10px 5px 20px;
        //background-color: red;

        .boxFlex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .logoDiv{
                display: flex;
                justify-content: center;
                align-items: center;
                .logo{
                    
                    width: 30%;
                    filter: invert(100%); //volver el logo blanco
                }
            }

            p{
                padding: 0 28%;
                color: var(--ColorTexto1);
                line-height: var(--Interlineado);
            }

            .socialIcon{
                gap: 20px;
                .icon{
                    color: var(--ColorIconos);

                    &:hover{
                        cursor: pointer;
                        color: var(--BrilloIcono);
                    }
                }
            }
        }

        .box{

            padding: 0 15px;

            h2{
                padding-top: 0;
                padding-bottom: 15px;
                font-size: var(--SizeFuente1);
                color: var(--ColorTexto1);
                text-shadow: 5px 4px 8px var(--ColorSombraTexto);
            }

            p{
                color: var(--ColorTexto1);
                text-align: left;
                line-height: var(--Interlineado);
            }
        }

        .bigBox{
            padding: 25px 15px 0 15px;

            h2{
                padding-top: 0;
                padding-bottom: 15px;
                font-size: var(--SizeFuente1);
                color: var(--ColorTexto1);
            }

            p{
                color: var(--ColorTexto1);
                text-align: left;
                line-height: var(--Interlineado);
            }
        }
    }
}

//--------------------- PRINCIPAL --------------------------------
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 0rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
//Titulo
  .header {
    text-align: center;
    margin-bottom: 2rem;
    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
  }
//CONTIENE LAS CLASES DE VUELO
  .results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    .flight {
      justify-content: center;
      background: linear-gradient(to right, #125965, #333);
      border-radius: 4px;
      padding: 1rem;
      margin-bottom: 1rem;
      width: 17vh;//calc(33% - 1rem);
      height: 30px;

  
      .info {
        color: #fcfcfc;
        //margin-bottom: 0.5rem;
  
        h3 {
          
          font-size: 1rem;
          font-weight: bold;
        }
  
        p {
          font-size: 0.8rem;
          margin: 0;
        }
      }
  
    }
  }
//Contiene el aeropuerto de origen y aeropuerto de destino  
  .search-bar {
    display: flex;
    justify-content:center;
    
    width: 100%;
    margin-bottom: 2rem;
  
    .origin,
    .destination {
      display: flex;
      align-items: center;
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-right: 1rem;

  
      .icon {
        font-size: 1.5rem;
        margin-right: 1rem;
        color: #000000;
      }
  
      input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 1rem;
      }
    }

    .separacion{
        width: 30vh;
    }
  
    button {
      background-color: #007bff;
      color: #fff;
      padding: 1rem 2rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
//Contiene la fecha ida, fecha regreso, cantidad de pasajeros
  .search-bar2{
    display: flex;
    justify-content:center;
    width: 60%; //MOVER LA DISTANCIA DE LA SEPARACION
    margin-bottom: 2rem;
    .filter-psg{
        display: flex;
      align-items: center;
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-right: 1rem;
    }
    .filter{
      width: calc(33% - 1rem);
      padding: 1rem;
  
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
  
      textarea,
      input[type="date"],
      input[type="number"] {
        width: 30vh;
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
      }

      .input-container{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
  
  
  .buttons {
    text-align: center;
  
    button {
      background: linear-gradient(to right, #125965, #333);
      color: #fff;
      padding: 1rem 2rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }
  }

  //CONTIENE LA PARTE DE LOS SERVICIOS
.flight-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1c32f2;
    background: url(./recursos/estrellas.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 2rem;
    padding: 7vh;
    //justify-content: space-between;
    width: 100%;
    height: 40vh;
  
    .flight-info-item{
      border-radius: 20px;
      background-color: rgb(211, 211, 211);
      width: auto; /* Adjust based on number of elements per row */
      padding: 7vh;
      margin-left: 15vh;
      margin-right: 15vh;
      box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.9);

      h3{
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.7);
      }
  
      label {
        display: block;
        margin-bottom: 0.5rem;
      }
  
      textarea,
      input[type="date"],
      input[type="number"] {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
      }
    }
  }



